@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Space-Grotesk';
    font-style: normal;
    font-weight: 400, 500, 600, 700;
    font-display: auto;
    src: local('Space-Grotesk'),
  }
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 400, 500;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300, 400, 500, 600;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
  }
}
/* body {
  margin: 0;
} */
