@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;

@layer base {
  @font-face {
    font-family: 'Space-Grotesk';
    font-style: normal;
    font-weight: 400, 500, 600, 700;
    font-display: auto;
    src: url('https://github.com/floriankarsten/space-grotesk/raw/master/fonts/variable/SpaceGrotesk-VariableFont_wght.ttf'), local('Space-Grotesk'),
  }
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 400, 500;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300, 400, 500, 600;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
  }
}
:root {
  @apply scroll-smooth font-display antialiased;
}

html {
  @apply bg-white;
  scrollbar-color: #00000080 transparent;
  scrollbar-width: auto;
}

html[class*="dark"] {
  @apply bg-gray-900;
  scrollbar-color: #ffffffb3 transparent;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-black/50 dark:bg-white/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black/60 dark:hover:bg-white/80;
}

button {
  /* Disables tap highlight color on Chrome */
  -webkit-tap-highlight-color: transparent;
}

/* Input darkmode fix for checkbox / radio */
.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-color: currentColor;
}

@tailwind components;
@tailwind utilities;
/* body {
  margin: 0;
} */
